/* @media only screen and (max-width: 360px) {
    .Typography1 {
      background-color: black;
      font-size: 10px; /* Adjust the font size to your preference */
     justify-content: left;
    }
  } */